<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MedicalPlatform</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="bootstrap.min.css"/>
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${listOfDoctors}">
                <h2 th:case="null">Privat!</h2>
                <div th:case="*">
                    <h2>Doctors</h2>

                    <div class="container my-2">
                        <a href="/caregiver/home"><span>Click here to move to the caregiver page</span></a>
                    </div>
                    <div class="container my-2">
                        <a href="/medication/home"><span>Click here to move to the medication page</span></a>
                    </div>
                    <div class="container my-2">
                        <a href="/patient/home"><span>Click here to move to the patient page</span></a>
                    </div>
                   <!-- <div class="container my-2">
                        <a href="/medication_plan/home"><span>Click here to create the medication plane</span></a>
                    </div>-->

                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>

                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="doctor : ${listOfDoctors}">
                            <td th:text="${doctor.id}"></td>
                            <td th:text="${doctor.name}"></td>
                            <td th:text="${doctor.email}"></td>
                            <td><a th:href="@{/doctor/edit/{id}(id=${doctor.id})}" class="btn btn-primary eBtn">Edit</a>
                            </td>
                            <td><a th:href="@{/doctor/delete/{id}(id=${doctor.id})}" class="btn btn-danger delBtn">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/doctor/signup">Add a new doctor</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${listOfCaregivers}">
                <h2 th:case="null">Privat!</h2>
                <div th:case="*">
                    <h2>Caregivers</h2>
                    <a href="/doctor/home"><span>Click here to move to the doctor page</span></a>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Birth Date</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="caregiver : ${listOfCaregivers}">
                            <td th:text="${caregiver.id}"></td>
                            <td th:text="${caregiver.name}"></td>
                            <td th:text="${caregiver.email}"></td>
                            <td th:text="${caregiver.birthDate}"></td>
                            <td th:text="${caregiver.gender}"></td>
                            <td th:text="${caregiver.address}"></td>
                            <td><a th:href="@{/caregiver/edit/{id}(id=${caregiver.id})}" class="btn btn-primary eBtn">Edit</a>
                            </td>
                            <td><a th:href="@{/caregiver/delete/{id}(id=${caregiver.id})}"
                                   class="btn btn-danger delBtn">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/caregiver/signup">Add a new caregiver</a></p>
            </div>
        </div>

    </div>
</div>


<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${listOfMedications}">
                <h2 th:case="null">Privat!</h2>
                <div th:case="*">
                    <h2>Medications</h2>
                    <a href="/doctor/home"><span>Click here to move to the doctor page</span></a>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Effects</th>
                            <th>Dosage</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="medication : ${listOfMedications}">
                            <td th:text="${medication.id}"></td>
                            <td th:text="${medication.name}"></td>
                            <td th:text="${medication.effects}"></td>
                            <td th:text="${medication.dosage}"></td>
                            <td><a th:href="@{/medication/edit/{id}(id=${medication.id})}" class="btn btn-primary eBtn">Edit</a>
                            </td>
                            <td><a th:href="@{/medication/delete/{id}(id=${medication.id})}"
                                   class="btn btn-danger delBtn">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/medication/signup">Add a new medication</a></p>
            </div>
        </div>

    </div>
</div>


<!--<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${listOfMedicationPlans}">
                <h2 th:case="null">Privat!</h2>
                <div th:case="*">
                    <h2>Medication Plan</h2>

                    <div class="container my-2">
                        <a href="/doctor/home"><span>Click here to move to the doctor page</span></a>
                    </div>

                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Daily Interval</th>
                            <th>Period</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="medicationPlan : ${listOfMedicationPlans}">
                            <td th:text="${medicationPlan}.id}"></td>
                            <td th:text="${medicationPlan.daily_interval}"></td>
                            <td th:text="${medicationPlan.period}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/medication_plan//signup">Add a new medication plan</a></p>
            </div>
        </div>
    </div>
</div> -->


<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${listOfPatients}">
                <h2 th:case="null">Privat!</h2>
                <div th:case="*">
                    <h2>Patients</h2>
                    <a href="/doctor/home"><span>Click here to move to the doctor page</span></a>
                    <table>
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Birth Date</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Doctor</th>
                            <th>Caregiver</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="patient : ${listOfPatients}">
                            <td th:text="${patient.id}"></td>
                            <td th:text="${patient.name}"></td>
                            <td th:text="${patient.email}"></td>
                            <td th:text="${patient.birthDate}"></td>
                            <td th:text="${patient.gender}"></td>
                            <td th:text="${patient.address}"></td>
                            <td>
										<span th:each="doctor: ${patient.doctor}">
											<p><span th:text="${doctor.name}"></span></p>
										</span>
                            </td>

                            <td>
										<span th:each="caregiver: ${patient.caregiver}">
											<p><span th:text="${caregiver.name}"></span></p>
										</span>
                            </td>
                            <td><a th:href="@{/patient/edit/{id}(id=${patient.id})}"
                                   class="btn btn-primary eBtn">Edit</a></td>
                            <td><a th:href="@{/patient/delete/{id}(id=${patient.id})}" class="btn btn-danger delBtn">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <p><a href="/patient/signup">Add a new patient</a></p>
            </div>
        </div>

    </div>
</div>
</body>

</html>